html {
	font-size:16px;
}

html,* {
	font-family:-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto", "Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.5;
	-webkit-text-size-adjust:100%
  text-rendering: optimizelegibility;
}

* {
	font-size:.92rem;
}

body {
  margin: 1em auto 0.5em auto;
  color: #1C281C;
	background:#f8f8f8;
  width: 86%;
}

a { color: #40673B; }

a:visited { color: #868F3E; }

h1,h2,h3,h4,h5,h6,
div#running table caption,
div#running table th
{
	line-height:1.2em;
	font-weight:500
}

h1 {
	font-size:2rem
}

h2 {
	font-size:1.6875rem
}

h3, div#running table caption
{
	font-size:1.4375rem
}

h4, div#running table th
{
	font-size:1.1875rem
}

h5 {
	font-size:1rem
}

h6 {
	font-size:.8125rem
}

header h1, header h1 a {
  font-family: "Cagliostro", "Cambria", "Georgia", "Times", "Times New Roman", sans-serif;
  margin: 0;
  text-align: center;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -2px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

header h2, header h2 a {
  font-family: "Cagliostro", "Cambria", "Georgia", "Times", "Times New Roman", sans-serif;
  font-size: 3rem;
  margin-top: 0;
  line-height: 1.25;
  text-align: center;
}

time {
  font-size: .8125rem;
}

h3.title {
  margin-bottom: 12px;
}

h3.title a {
  font-size: 1.5rem;
}

blockquote {
  margin: 20px 0;
  padding-left: 1rem;
  border-left: 5px solid #868F3E;
}

blockquote p {
  margin: 0 auto;
}

blockquote.plain {
  border: none;
}

figure.left {
  float:left;
  margin-right:1rem;
}

figure.right {
  float:right;
  margin-left:1rem;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure img.75 {
  transform: scale(0.75, 0.75);
}

figure img.half {
  transform: scale(0.5, 0.5);
}

figcaption {
  color: #666;
  font-style: italic;
  text-align: center;
}

pre, code, figcaption, div#running table td {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: .72rem;
}

.clearfix {
  overflow: auto;
  zoom: 1;
  float: none;
}

img#f {
  margin: 1em auto;
  display: block;
}

dl.race-details {
  width:34em;
  float:left;
  display: inline;
}

dl.race-details dt {
  font-weight: bold;
}

div#running table caption {
  padding-bottom: 1em;
}

div#running table {
  margin-bottom: 20px;
  width:100%;
}

div#running table th {
  vertical-align: bottom;
}

div#running table td {
  vertical-align: top;
  text-align:left;
  border-top: 1px solid #c3c3c3;
  padding: 4px 5px;
}

div#running table th,
div#running table td {
  text-align:left;
}

div#running table tr.pr td {
  background-color: #D9EDF7;
}

div#running table tr.track {
  border-right: 2px solid orange;
}

div#running table tr.sb {
  border-left: 2px solid #770807;
}

div#running table tr.other td {
  background-color: #F3E5AF;
}

div#running table th:nth-of-type(-n+3) {
  width: 17%
}

iframe.center {
  display: block;
  margin: 0 auto;
}

/** media queries **/

@media only screen and (max-width: 1024px) {
  header h1, header h1 a {
    font-size: 4rem;
  }

  header h2, header h2 a {
    font-size: 2rem;
  }

  figure.left, figure.right {
    float: none;
    margin: 0;
    display: block;
  }

  figure img {
    display: block;
    margin: 0 auto;
  }
}

aside { display: none; }


