body {
  margin: 1em auto 0.5em auto;
  width: 78%;
  font-size: 1.2em;
  font-family: "Cagliostro", "Cambria", "Georgia", "Times", "Times New Roman", sans-serif;
  color: #012034;
}

a { color: #11333D; }

a:visited { color: #40666A; }

header h1 {
  font-size: 5em;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #594757;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

pre, code {
  font-family: "Monaco", "Consolas", "Ubuntu Monospace", "courier new", monospace;
  font-size: .8em;
}

img#f {
  margin: 1em auto;
  display: block;
}

