body {
  margin: 1em auto 0.5em auto;
  width: 78%;
  font-family: "Cagliostro", Georgia, sans-serif;
}

a { color: #AA9EC5; }

a:visited { color: #EBD7F4; }

header h1 {
  font-size: 5em;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #594757;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

pre {
  font-family: "Monaco", "Consolas", "Ubuntu Monospace", "courier new", monospace;
  font-size: .8em;
}

