<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - locknet.ro</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cagliostro&subset=latin,latin-ext">
  -->
  <link href='http://fonts.googleapis.com/css?family=PT+Mono|Cagliostro&subset=latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://aurelian.myopenid.com/">
  <link rel="openid2.local_id" href="http://aurelian.myopenid.com">
  <link rel="openid2.provider" href="http://www.myopenid.com/server">
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=aurelian.myopenid.com">
  <meta name="geo.position" content="41.370748;2.144268">
  <meta name="author" content="Aurelian Oancea">
</head>
