<div class="lightbox"><img id="lightbox" src=""></div>

<script>
  document.querySelectorAll("body")[0].addEventListener("click", function(){
    var lightbox = document.querySelectorAll("div.lightbox")[0];
    lightbox.style.display = "none";
  }, true);
  var k = document.querySelectorAll("figure img");

  k.forEach(function(el) {
    el.addEventListener("click",
      function() {
        var i = document.getElementById("lightbox");
        i.src = this.src;
        i.parentElement.style.display = "block";
        i.parentElement.style.outline = "none";
      },
      false
    );
  });
</script>
