<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}">
{% else %}
<html lang="ro">
{% endif %}
{% include head.html %}
<body>
  <header>
    <hgroup>
      <h1><a href="/">lock</a>Net.ro</h1>
      <h2><a href="/running.html">running</a></h2>
    </hgroup>
  </header>
  <article id="{{ page.id }}">
    <h3 class="title"><a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a></h3>
    <time datetime="{{ page.date }}">{{ page.date | date: "%d %B %Y" }}</time>

    <div>
      <dl class="race-details">
        <dt>Distance</dt><dd>{{ page.distance }}</dd>
        <dt>Result</dt><dd>{{ page.result }}</dd>
        {% if page.time %}<dt>Start Time</dt><dd>{{ page.time }}</dd>{% endif %}
        {% if page.weather %}<dt>Weather</dt><dd>{{ page.weather }}</dd>{% endif %}
        {% if page.race %}<dt>About the Race</dt><dd>{{ page.race }}</dd>{% endif %}
      </dl>

      <div class="map">
        {{ page.map }}
      </div>
    </div>

    <section class="content">
      {{ content }}
    </section>

  </article>
  {% include footer.html %}
</body>
</html>
